<html>

<head>
  <meta charset="UTF-8">
  <title>Hello world from Angularjs</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="finance.js"></script>
  <script src="invoice.js"></script>
  <script src="timeline.js"></script>
</head>

<body>
  <div ng-app="invoice" ng-controller="InvoiceController as invoice">
    <div>
      Quantity:
      <input ng-model="invoice.qty">
    </div>
    <div>
      Cost:
      <input ng-model="invoice.cost">
    </div>
    <span ng-repeat="currency in invoice.currencies">
      Invoice: {{invoice.total(currency) | currency}} {{currency}}
    </span>
  </div>

</body>

</html>